<div class="card filters">

  <div class="card-header "><strong>Filters</strong> </div>
<div class="card-body">
<form [formGroup]="shearchForm" action="">
  <div class="from-group">
    <label class="form">From</label>
    <input type="number" id="from" class="form-control" #fromInput="ngModel" [(ngModel)]="model.fromInput" name="fromInput"
           [ngClass]="{ 'is-invalid': shearchForm.get('fromInput').touched && shearchForm.get('fromInput').invalid }"
           formControlName="fromInput">
  </div>
  <div class="from-group">
    <label class="form">To</label>
    <input type="number" id="to" class="form-control" #toInput="ngModel" name="toInput" [(ngModel)]="model.toInput"
           [ngClass]="{ 'is-invalid': shearchForm.get('toInput').touched && shearchForm.get('toInput').invalid }"
           formControlName="toInput">
  </div>
  <button class="btn btn-outline-dark btn-block mt-3 btn-sm" (click)="HandlerOnchange()">Filter by price</button>
</form>
</div>
</div>
