<script src="../../../services/login.service.ts"></script>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/shop']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mx-5 d-flex justify-content-center">
        <a class="nav-link" *ngIf="isLogin" [routerLink]="['/shop']">Hello {{CurrentUserFromStorege.username}}</a>
        <button class="nav-link" *ngIf="isLogin && CurrentUserFromStorege.isAdmin" class="btn btn-outline-warning ml-3" [routerLink]="['/crud-product']">Updates</button>

      </li>

      <li class="nav-item row">
          <input class="form-control mr-sm-2 col" style="width: 300px" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="shearchInput" (change)="changeValue()">
          <button class="btn btn-outline-info my-2 my-sm-0 col" style="width: 5px" type="submit" (click)="changeValue()">Search</button>
      </li>
    </ul>

  <div *ngIf="!isLogin">
    <a class="btn btn-dark mr-1" style="color: antiquewhite" [routerLink]="['/login']"> &nbsp; Login &nbsp;</a>
    <a class="btn btn-outline-success" [routerLink]="['/register']">Register</a>
  </div>
    <a *ngIf="isLogin" class="btn btn-outline-success"  (click)="logout()">Logout</a>
  </div>
</nav>
