/* You can add global styles to this file, and also import other style files */
.card-item{
  font-size: small;
}
.filters{
  font-size: small;
}
.card, .form-control,.btn{
  border-radius: 3px;
}
.total{
  background-color: #343a40;
  color: antiquewhite;
}
.product-btn{
  font-size: small;
  display: flex;
}

.fa-heart{
  color: deeppink;
  cursor: pointer;
}



/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1{
  font-size:80px;
}

.four_zero_four_bg h3{
  font-size:80px;
}

.link_404{
  color: #fff!important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;}
.contant_box_404{ margin-top:-50px;}

.btn-primary.disabled, .btn-primary:disabled{
  cursor: not-allowed;
}


body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f5f5f5
}
.hedding{
  font-size: 20px;
  color:#ab8181`;
}
.main-section{
  position: absolute;
  left:50%;
  right:50%;
  transform: translate(-50%,5%);
}
.left-side-product-box img{
  width: 100%;
}
.left-side-product-box .sub-img img{
  margin-top:5px;
  width:83px;
  height:100px;
}
.right-side-pro-detail span{
  font-size:15px;
}
.right-side-pro-detail p{
  font-size:25px;
  color:#a1a1a1;
}
.right-side-pro-detail .price-pro{
  color:#E45641;
}
.right-side-pro-detail .tag-section{
  font-size:18px;
  color:#5D4C46;
}
.pro-box-section .pro-box img{
  width: 100%;
  height:200px;
}
@media (min-width:360px) and (max-width:640px) {
  .pro-box-section .pro-box img{
    height:auto;
  }
}
.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  padding: 10px;
  min-height:175px;
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 100%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
  pointer-events: none;
  cursor: not-allowed!important;
}
